<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Password Reset Email</title>
  <style>
    body {
      background: #f7f7f7;
    }

    .container {
      background: white;
      width: 60%;
      margin: 0 auto;
      padding: 15px 25px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }

    a {
      display: inline-block;
      border: none;
      background-color: blue;
      color: white;
      text-decoration: none;
      padding: 15px;
      border-radius: 3px;
      margin: 0 0 15px;
    }

    small {
      display: block;
      color: #888;
    }

    .hello {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: 450px) {
      .container {
        text-align: center;
        width: 90%;
      }
    }
  </style>
</head>
<body>
  <div class="container">
  <p class="hello">Hello <%= userName %></p>
    <p>we received a password reset request from you</p>
    <p>click the button below to reset your password</p>
    <a href="<%= passwordResetLink %>">Reset my password</a>
    <small>If you did not make this request, we suggest that you reset your password right now</small>
  </div>
</body>
</html>